# 编译输出
dist/
build/
bin/
*.exe
*.spec

# Node.js
node_modules/
package-lock.json

# macOS
.DS_Store

# Python
__pycache__/
*.pyc
.password_history.json

# IDE
.vscode/
.idea/
pyrightconfig.json

# 敏感文件
.env
*.enc
*.salt
